body {
    @import url('https://fonts.cdnfonts.com/css/secular-one'); 
    font-family: 'Secular One', sans-serif;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: auto;
    font-size: 20em;
}
ul {
    list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}