body {
    background-color: rgb(255, 232, 203);
    @import url('https://fonts.cdnfonts.com/css/secular-one'); 
    font-family: 'Secular One', sans-serif;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
h1 {
    margin: auto;
    font-size: 11.5em;
    color:  rgb(231, 23, 89);
}
h2 {
    text-align: center;
    margin: auto;
}

h2 .negative {
    color: rgb(231, 23, 89);
}

h2 .positive {
    color: rgb(94,192,148);
}

h2 .train {
    color: #f7d417;
}

ul {

    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

li {
    margin: 5px;
}

a {
    color: rgb(100, 100, 250);
}

img {
    height: auto;
    max-width: 65%;
}

#Cal {
    appearance: none;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

#Calimg {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    margin-left: auto;
    margin-right: auto;
}

#Cal:checked + #Calimg {
    transform: scale(2,2);
    transition: transform 1s ease-in-out;
  }
